[submodule "lib/zLib"]
	path = lib/zLib
	url = https://zabaat@bitbucket.org/zabaatinc/zabaat-library.git
[submodule "lib/pathfindingjs"]
	path = lib/pathfindingjs
	url = https://github.com/qiao/PathFinding.js.git
